output {
  elasticsearch {
    hosts => {{ logstash_output_elasticsearch.hosts }}
    path => '{{ logstash_output_elasticsearch.path }}'
    ssl => {{ logstash_output_elasticsearch.ssl }}
    ssl_certificate_verification => {{ logstash_output_elasticsearch.ssl_verify_certificate }}
    {% if logstash_output_elasticsearch.trust_store_file is defined %}
      truststore => '{{ logstash_output_elasticsearch.trust_store_file }}'
    {% endif %}
    {% if logstash_output_elasticsearch.key_store_file is defined %}
      keystore => '{{ logstash_output_elasticsearch.key_store_file }}'
    {% endif %}
  }
}
