output {
  elasticsearch {
    {# What seems like a roundabout way to output a list here is necessary to prevent the printing of the leading u character
       Python uses to mark unicode strings. #}
    hosts => [
      {% for host in logstash_output_elasticsearch.hosts %}
        "{{ host }}"{% if not loop.last %},{% endif %}
      {% endfor %}
    ]
    path => '{{ logstash_output_elasticsearch.path }}'
    ssl => {{ logstash_output_elasticsearch.ssl }}
    ssl_certificate_verification => {{ logstash_output_elasticsearch.ssl_verify_certificate }}
    {% if logstash_output_elasticsearch.proxy is defined %}
      proxy => '{{ logstash_output_elasticsearch.proxy }}'
    {% endif %}
    {% if logstash_output_elasticsearch.trust_store_file is defined %}
      truststore => '{{ logstash_output_elasticsearch.trust_store_file }}'
    {% endif %}
    {% if logstash_output_elasticsearch.trust_store_password is defined %}
      truststore_password => '{{ logstash_output_elasticsearch.trust_store_password }}'
    {% endif %}
    {% if logstash_output_elasticsearch.key_store_file is defined %}
      keystore => '{{ logstash_output_elasticsearch.key_store_file }}'
    {% endif %}
    {% if logstash_output_elasticsearch.key_store_password is defined %}
      keystore_password => '{{ logstash_output_elasticsearch.key_store_password }}'
    {% endif %}
    {% if logstash_subindexes_by_type %}
      index => "logstash-%{type}-%{+YYYY.MM.dd}"
    {% else %}
      index => "logstash-%{+YYYY.MM.dd}"
    {% endif %}
  }
}
